html {
  font-size: 62.5%;
}
.box {
  box-sizing: border-box;
  width: 20rem;
  height: 30rem;
  background-color: #ffa400;
  border: 0.1rem solid red;
  border-radius: 0.4rem;
  margin: 1.5rem;
}
.word {
  text-align: center;
  padding: 1rem;
}
.text3 {
  max-width: 50rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.text4 {
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.background {
  width: 100vw;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1690122171625-4a292e13ea7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
    no-repeat center left / cover;
}
.image {
  height: 40rem;
  width: 40rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.link {
  text-decoration: none;
  padding: 1rem 5rem;
  background-color: violet;
  color: green;
  margin-left: 3rem;
}
.link--grounded {
  border-radius: 2rem;
}
.link--ground {
  border-radius: 8rem;
}
.link:hover {
  color: red;
  background-color: green;
}
.link--ground:hover {
  color: green;
  background-color: white;
}
.link--grounded:hover {
  color: black;
  background-color: green;
}
