@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@400;500&display=swap");

html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://plus.unsplash.com/premium_photo-1687417215943-80f39886062c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80")
    no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper {
  width: 60rem;
  background: transparent;
  color: #fff;
  border-radius: 1rem;
  padding: 3rem 4rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 0.5rem;
  height: 30rem;
  font-family: "Poppins", sans-serif;
}

.wrapper h2 {
  font-size: 2.5rem;
  text-align: center;
  color: black;
  margin-top: 1rem;
}
ul {
  position: relative;
}
ul li {
  font-size: 1.5rem;
  margin: 2rem 2rem;
  color: black;
}
ul li label {
  cursor: pointer;
}
ul li input {
  cursor: pointer;
}
.wrapper button {
  width: 100%;
  height: 2.5rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
  margin-top: 1rem;
}

button:hover {
  background-color: #04adc4;
  color: aliceblue;
}

li:hover {
  color: green;
}

button:focus {
  outline: none;
  background-color: #44b927;
}
